<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<string>Area</string>
		<string>Length</string>
		<string>Temperature</string>
		<string>Time</string>
		<string>Volume</string>
	</array>
	<key>Basic Types</key>
	<dict>
		<key>Area</key>
		<string>acre</string>
		<key>Length</key>
		<string>feet</string>
		<key>Temperature</key>
		<string>celsius</string>
		<key>Time</key>
		<string>day</string>
		<key>Volume</key>
		<string>gallon</string>
	</dict>
	<key>Area</key>
	<dict>
		<key>acre</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>hectare</key>
		<array>
			<integer>0</integer>
			<real>0.404685642</real>
		</array>
		<key>square km</key>
		<array>
			<integer>0</integer>
			<real>0.0040468564</real>
		</array>
		<key>square mile</key>
		<array>
			<integer>0</integer>
			<real>0.0015625</real>
		</array>
	</dict>
	<key>Length</key>
	<dict>
		<key>feet</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>inch</key>
		<array>
			<integer>0</integer>
			<integer>12</integer>
		</array>
		<key>kilometer</key>
		<array>
			<integer>0</integer>
			<real>0.0003048</real>
		</array>
		<key>meter</key>
		<array>
			<integer>0</integer>
			<real>0.3048</real>
		</array>
		<key>mile</key>
		<array>
			<integer>0</integer>
			<real>0.0001893939</real>
		</array>
		<key>yard</key>
		<array>
			<integer>0</integer>
			<real>0.33333333</real>
		</array>
	</dict>
	<key>Temperature</key>
	<dict>
		<key>celsius</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>fahrenheit</key>
		<array>
			<real>0.5555555556</real>
			<real>-17.7777777778</real>
		</array>
		<key>kelvin</key>
		<array>
			<integer>1</integer>
			<real>-273.15</real>
		</array>
	</dict>
	<key>Time</key>
	<dict>
		<key>day</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>hour</key>
		<array>
			<integer>0</integer>
			<integer>24</integer>
		</array>
		<key>millisecond</key>
		<array>
			<integer>0</integer>
			<integer>86400000</integer>
		</array>
		<key>minute</key>
		<array>
			<integer>0</integer>
			<real>1440</real>
		</array>
		<key>second</key>
		<array>
			<integer>0</integer>
			<real>86400</real>
		</array>
		<key>week</key>
		<array>
			<integer>0</integer>
			<real>0.1428571429</real>
		</array>
		<key>year</key>
		<array>
			<integer>0</integer>
			<real>0.002739726</real>
		</array>
	</dict>
	<key>Volume</key>
	<dict>
		<key>gallon</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>liter</key>
		<array>
			<integer>0</integer>
			<real>3.785411784</real>
		</array>
		<key>pint</key>
		<array>
			<integer>0</integer>
			<integer>8</integer>
		</array>
		<key>ounce</key>
		<array>
			<integer>0</integer>
			<integer>128</integer>
		</array>
	</dict>
</dict>
</plist>
